<!DOCTYPE html>
<html>
<head>
    <% include templates/head.ejs %>
</head>
<body>
<% include templates/header.ejs %>
<div class="wrap">
    <% include templates/main.ejs %>
    <% include templates/modals.ejs %>
</div>
<% include templates/scripts.ejs %>
</body>
</html>