<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Word Match Score</title>
    <link href="images/single-logo.png" type="image/x-icon" rel="shortcut icon"/>
    <!-- Facebook -->
    <meta property="og:site_name" content="Word Match">
    <meta property="og:url" content="http://wordmatch.org/result/<%= info %>">
    <meta property="og:title" content="My <%= gamePlay %> play score : <%= score %>">
    <meta property="og:image" content="http://wordmatch.org/images/sharing-thumb.png">
    <meta property="og:description" content="A small game for finding out how many words you know and are able to remember within limited time. WordMatch contains both single player and multiplayer.">
</head>
<body>
<script>window.location = 'http://wordmatch.org/';</script>
</body>
</html>