<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-55362773-2', 'auto');
    ga('send', 'pageview');
</script>

<div id="fb-root"></div>
<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1559249254305156&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<header class="header2">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="logo">
                <a href="#">
                    <img src="/images/logo.png" alt="#"/>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav nav_top">
                    <li><a href="/">Home</a></li>
                    <!--<li><a href="#" data-toggle="modal" data-target="#game-instructions">Instructions</a></li>-->
                    <li><a href="#" data-toggle="modal" data-target="#myModal">Settings</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#about-us">About Us</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <div class="social">
                        <div class="social_facebook">
                            <a href="#">
                                <img src="/images/social_logo_03.png">
                            </a>
                        </div>
                        <div class="social_tt">
                            <a href="#">
                                <img src="/images/social_logo_05.png">
                            </a>
                        </div>
                        <div class="social_google">
                            <a href="#">
                                <img src="/images/social_logo_07.png">
                            </a>
                        </div>
                    </div>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>