<meta charset="utf-8">
<title><%= title %></title>
<link href="/images/single-logo.png" type="image/x-icon" rel="shortcut icon">
<!-- Latest compiled and minified CSS -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/jquery.bxslider.css">
<link rel="stylesheet" href="/stylesheets/tooltipster.css">
<link rel="stylesheet" href="/stylesheets/themes/tooltipster-shadow.css">
<link rel="stylesheet" href="/stylesheets/index.css"/>
<link rel="stylesheet" href="/stylesheets/style.css"/>
<!-- Font awesome -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<!-- Facebook -->
<meta property="og:site_name" content="Word Match">
<meta property="og:url" content="http://wordmatch.org/">
<meta property="og:title" content="WordMatch">
<meta property="og:image" content="http://wordmatch.org/images/sharing-thumb.png">
<meta property="og:description" content="A small game for finding out how many words you know and are able to remember within limited time. Word Match contains both single-play and multi-play.">