<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>


<div class="container">
    <div class="content game-control">
        <div class="score">
            <span>Score</span>
            <div class="point">0</div>
        </div>

        <div class="image_game">
            <div class="game_load">
                <div id="start-game" class="next-round">
                    <div class="start-game-play">Play</div>
                </div>
            </div>
            <div class="setting" data-toggle="modal" data-target="#myModal">
                <img src="images/setting_03.png">
            </div>
            <div class="image_game_group">
                <div id="load_game"></div>
                <div class="mini">10</div>
            </div>
        </div>

        <div class="game_content">
            <div class="prev_content slide">-</div>
            <div class="center_content slide">-</div>
        </div>

        <div class="game_play">
            <div class="import_text_check">
                <input id="word_text" type="text" class="import_text" placeholder="A word begins with above letter">
                <span id="input-tooltip" class="tooltip"></span>
                <% if(gamePlay === 'multiplayer'){ %>
                <table>
                    <% if(playerNumber === 'two'){ %>
                    <tr>
                        <td class="active"><%= playerName %></td>
                        <td>Waitting...</td>
                    </tr>
                    <% } else { if(playerNumber === 'three'){ %>
                    <tr>
                        <td class="active"><%= playerName %></td>
                        <td>Waitting...</td>
                    </tr>
                    <tr>
                        <td>Waitting...</td>
                    </tr>
                    <% }else{ %>
                    <tr>
                        <td class="active"><%= playerName %></td>
                        <td>Waitting...</td>
                    </tr>
                    <tr>
                        <td>Waitting...</td>
                        <td>Waitting...</td>
                    </tr>
                    <% } %>
                    <% } %>
                </table>
                <% } %>
            </div>
        </div>

    </div>
</div>

<div class="container">
    <div class="import_text_check">
                <!-- Howto_Ads_Responsive -->
                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-9745095875219714"
                     data-ad-slot="4024425180" data-ad-format="auto"></ins>
                <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </div>
</div>

<div class="container">
    <div class="import_text_check commentbox">
        <span><i class="fa fa-comments"></i> Comments</span>

        <div class="comments">
            <div class="fb-comments" data-href="http://wordmatch.org" data-width="100%" data-numposts="10" data-colorscheme="light"></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="import_text_check">
        <!-- Howto_Ads_Responsive -->
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-9745095875219714"
             data-ad-slot="4024425180" data-ad-format="auto"></ins>
        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </div>
</div>

<div class="footer">
    <div class="container">
        <span>Omedia Group</span>

        <div class="social">
            <div class="social_facebook">
                <a href="#"><img src="images/social_logo_03.png"></a>
            </div>
            <div class="social_tt">
                <a href="#"><img src="images/social_logo_05.png"></a>
            </div>
            <div class="social_google">
                <a href="#"><img src="images/social_logo_07.png"></a>
            </div>
        </div>
    </div>
</div>